


<style>
  .profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .logo{
    width: 50px;
    height: 50px;
  }

  .navbar-brand{
    font-family: "Gruppo", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

</style>

<!-- Ceci est la barre de navigation faite avec Bootstrap, on va l'ajouter au fichier base.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
    <div class="container-fluid">
      <div>
        <a href=""><img class="logo" src="../../media/icon.png" alt=""></a>
        <a class="navbar-brand mb-0 h1" href="{% url 'home' %}">COVOITURAGE</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="flex-grow: 0;" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated  %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_trajet' %}"><b>Ajouter un Trajet</b></a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href=""><b> {{user.username}}</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><img class="profile-img" src="{{user.profile.profile_pic.url}}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">| Déconnexion</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Inscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Connexion</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>